/* -------------------------------------------------
   1️⃣  themes.scss  (exportiert via @use) asdfasfd
   ------------------------------------------------- */
@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "variables";

$theme-map: null !default;

$themes: (
    "colorscheme-light": (
        icon-color: map.get(variables.$custom-colors, "tanne"),
        icon-color-text-hover: map.get(variables.$custom-colors, "white"),
        icon-color-hover: map.get(variables.$custom-colors, "klee-700")
    ),
    "colorscheme-green": (
        icon-color: map.get(variables.$custom-colors, "tanne"),
        icon-color-text-hover: map.get(variables.$custom-colors, "white"),
        icon-color-hover: map.get(variables.$custom-colors, "klee-700")
    ),
    "wp-theme-sunflower": (
        icon-color: map.get(variables.$custom-colors, "tanne"),
        icon-color-text-hover: map.get(variables.$custom-colors, "white"),
        icon-color-hover: map.get(variables.$custom-colors, "klee-700")
    )
);

@mixin themed-sunflower-colorscheme() {

    @each $theme, $map in $themes {

        @at-root .#{$theme} #{&} {
            $theme-map: $map !global;

            @each $key, $value in $map {
                $theme-map: map.merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

/* ---------------  t()  ------------------------ */
@function t($key) {

    @if meta.global-variable-exists(theme-map) == false or not $theme-map {

        @error "t(): $theme-map ist nicht initialisiert.";
    }
    $value: map.get($theme-map, $key);

    @if not $value {

        @error "t(): Schlüssel '#{$key}' fehlt im Theme‑Map.";
    }

    @return $value;
}
