@use "sass:map";
$custom-colors: (
	klee: #008939,
	klee-700: #006e2e,
	tanne: #005437,
	sonne: #fff17a,
	sand: #f5f1e9,
	grashalm: #8abd24,
	himmel: #0ba1dd,
	black: #000,
	black-500: #201d1b,
	gray: #eff2ed,
	gray-500: #6b7a80,
	white: #fff
);


$primary: map.get($custom-colors, "klee");
