
.sunflower-person,
.sunflower_person {

	@media (min-width: 768px) {

		&.display-single > .entry-header {
			padding-bottom: 35px;
		}
	}

	&__offices,
	&__meta {
		list-style: none;
		padding: 0;
		margin: 0.5em 0 0;

		li {

			a {
				text-decoration: none;

				i {
					color: #000;
				}
			}
		}
	}

	&__socialmedia {

		.social-media-profiles {
			list-style: none;
			padding: 0.5em 0 0;
			margin: 0;
			display: flex;
			gap: 0.5em;
			width: 32px;
			height: 32px;

			li {
				width: 32px;
				height: 32px;
				display: flex;
				justify-content: center;
				align-items: center;
				background: #fff;
				border-radius: 50%;

				a {
					color: #000;
					opacity: 1;
					background-color: $primary;
					border-radius: 50%;
					justify-content: center;
					align-items: center;
					padding: 0;
					font-size: 90%;

					i {
						color: #fff;
					}
				}
			}
		}
	}

	.wp-block-quote {
		padding: 1em 1.5em;
		border-left: 4px solid $primary;
	}

	.wp-block-quote::before {
		content: "„";
		left: -0.33em;
		top: -0.7em;
	}

	.wp-block-quote::after {
		content: "“";
		top: -0.3em;
		right: -0.3em;
	}

	.wp-post-image {
		object-fit: cover;
		padding-bottom: 10px;
	}
}


.person-managers-tokens {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	margin-top: 4px;
}

.manager-token {
	background: #e5f3e8;
	border: 1px solid #99c19e;
	border-radius: 12px;
	padding: 2px 6px;
	font-size: 13px;
}

.manager-token button.remove-token {
	background: none;
	border: none;
	color: #333;
	margin-left: 4px;
	cursor: pointer;
}

.manager-token button.remove-token:hover {
	color: #000;
}

.person-employees-tokens {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	margin-top: 4px;
}


// blockquote::before, blockquote::after {
//   position: absolute;
//   display: block;
//   font-size: 10em;
//   color: #c32e04;
// }
