.wp-block-sunflower-persons-person {
	display: flex;
	position: relative;
	align-items: center;

	.sunflower-person-track-wrapper {
		overflow: hidden;
		flex: 1;
	}

	.sunflower-person-track {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}

	.sunflower-person-nav {
		position: relative;
		width: 2rem;
		height: 2rem;
		background: #eee;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.5rem;
	}

	.sunflower-person {
		flex-shrink: 0;
		width: 100px;
		text-align: center;
		margin-right: 0.5rem;
	}
}
