
.sunflower-person,
.sunflower_person {

    ul li {

        &::before {
            all: unset;
        }
        padding: 0;
        margin: 0;
    }
}

.single-sunflower_person {

    .container.container-narrow {

        .wp-block-columns {

            .wp-block-column img {
                height: unset;
                max-height: unset;
            }

            a:has(.wp-post-image) {
                height: 298px;
                border-radius: calc(var(--border-radius-medium) - 2px);

                .wp-post-image {
                    width: 50%;
                    height: 100%;
                }
            }

        }
    }
}
